abeer.shami [8:31 PM] 
<nav class="navbar navbar-inverse">
     <div class="container">
       <div class="navbar-header">
       <lu><a href="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png"></a></lu>
         <a class="navbar-brand" href="#">Twitter</a>

       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
           <li><a href="/Aboutus">About us</a></li>
         </ul>
         <!-- <ul class="nav navbar-nav navbar-right">
           <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         </ul> for the future if I have time I will add login and signup -->
       </div>
     </div>
   </nav>